* {
    margin: 0px;
    padding: 0px;

}

#main {
    width: 412px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 412px;
    height: 90px;
    background-color: black;
}

nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero {
    width: 412px;
    height: 500px;

}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#hero h1,
.gradient {
    font-size: 50px;
    position: relative;
    top: -90px;
    left: 205px;

    background: linear-gradient(to right, #ffc904, #ffff, #000000, #ffff, #ffc801);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation-gradient 2.5s 0s linear infinite;
}

@keyframes animation-gradient {
    to {
        background-position: 200%;
    }

}

#hero h2 {
    position: relative;
    top: -102px;
    left: 265px;
    color: #ffff;
    animation: kaundel 1s 0s linear infinite;
}

@keyframes kaundel {
    0% {
        color: #ffff;
    }

    100% {
        color: #ffc801;
    }
}

#salogan {
    width: 412px;
    height: 150px;
    background-color: #ffffffbb;

}

#salogan h1 {
    font-size: 25px;
    color: #000000;
    padding: 35px 20px;
}

#about {
    width: 412px;
    height: 400px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.about_box {
    width: 200px;
    height: 300px;

}

.about_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: -2px 2px 2px #fff;

}

.about_box_right {
    width: 200px;
    height: 300px;
    margin-top: -45px;

}

.about_box_right h1 {
    color: #ffff;
    padding: 0px 20px;
    font-family: cursive;
}
.about_line{
    width: 110px;
    height: 2px;
    background-color: #ffc801;
    margin-left: 40px;
    margin-top: 3px;
    margin-bottom: 20px;
}
.about_box_right p {
    color: #ffffff9a;
    padding: 0px 10px;
    font-family: sans-serif;
}

#album {
    background-color: #ffffffbb;
    width: 412px;
    height: 400px;
}

.picheading {
    width: 412px;
    height: 70px;


}

.line {
    width: 80px;
    height: 2px;
    background-color: #ffc801;
    margin-left: 28px;
    margin-top: 3px;

}

.linetwo {
    width: 150px;
    height: 2px;
    background-color: #ffc801;
    margin-left: 130px;
    margin-top: 3px;
}

.picheading h1 {
    color: #fff;
    margin-left: 20px;
    padding-top: 8px;
    font-family: cursive;
}
.hire_line{
    width: 150px;
    height: 2px;
    background-color: #ffc801;
    margin-left: 35px;
    margin-top: 3px;
}
.picture {
    width: 412px;
    height: 300px;

    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    animation: pic-move 20s 0s linear infinite;
    position: relative;
}

.picture h1 {
    color: #ffff;
}

.pic {
    width: 200px;
    height: 300px;
    background-color: #ffc801;

}

.picture .pic img {
    width: 200px;
    height: 300px;
    object-fit: cover;

    border-radius: 20px;

}

@keyframes pic-move {
    0% {
        left: 110%;
    }

    100% {
        left: -110%;
    }
}

#servic {
    height: 600px;
    width: 412px;
     margin-top: 30px;
}

.service {
    width: 412px;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service_box {
    width: 180px;
    height: 200px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: -2px 2px 1px rgb(255, 255, 255);
}

.service_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.service_box h1 {
    color: #ffc801;
    font-size: 20px;
    position: relative;
    top: -80px;
    left: 35px;
}

.service_box .fashionservice {
    color: #ffc801;
    font-size: 20px;
    position: relative;
    top: -75px;
    left: 6px;
}

.service_box button {
    padding: 5px 10px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    background-color: #ffffff52;
    border-radius: 15px;
    position: relative;
    top: -70px;
    left: 45px;
    animation: hire 2s 0s linear infinite;
}

@keyframes hire {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #ffc801;
    }

    100% {
        background-color: #fff;
    }
}

.service_box .hirebutton {
    animation: hirebutton 4s 0s linear infinite;
}

@keyframes hirebutton {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #ff0101de;
    }

    100% {
        background-color: #fff;
    }
}



#contact {
    width: 412px;
    height: 400px;
    background-color: #ffffffbb;
}

#contact h1 {
    text-align: center;
    padding-top: 30px;
    color: #000000;
}

#contact form {
    width: 350px;
    height: 300px;

    margin: 20px 30px;
}

#contact form input {
    width: 250px;
    height: 35px;
    margin: 10px 20px;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #000000;
}

#contact form button {
    position: relative;
    left: 120px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    animation: button 2s 0s linear infinite;
}

@keyframes button {
    0% {
        transform: scale(1, 1);

    }

    50% {
        transform: scale(1.5, 1);
        background-color: #ffc801;
    }

    100% {
        transform: scale(1, 1);
    }
}
.link{
    width: 40px;
    height: 100px;
    position: fixed;
    top: 600px;
    left: 10px;
    background-color: #ffffff;
    border-radius: 18px;
}
.link i{
    font-size: 30px;
    color: #ff0000;
    padding-left: 6px;
    padding-top: 12px;
}